{% extends "layout/base.html" %}
{% block content %}
  <form method="get" action="{% url "quiz" quiz_uuid next %}">
    <div class="container mt-3 ">
      <div class="panel panel-primary border p-1">
        <div class="panel-heading">
          <h3 class="panel-title">{{ question.text }}</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            {% for choice in choices %}
              <li class="list-group-item">
                <div class="checkbox">
                  <label>
                  {{ choice.1 }}.
                    <input type="checkbox" name="{{ choice.0.uuid }}"
                           value="{% if choice.0.is_correct %}1{% endif %}">
                    {{ choice.0.text }}
                  </label>
                </div>
              </li>
            {% endfor %}
          </ul>
          <div class="panel-footer text-center mt-2">
            <button class="btn btn-primary btn-block btn-sm" type="submit">Следующий вопрос</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}